$primary-black: #16161a; 
$primary-blue: #7f5af0;
$primary-green: #2cb67d;

$sec-black: #353536;

body {
    background-color: $primary-black; 
}

// NAVBAR SECTION
nav {
    background-color: $primary-black;
    box-shadow: unset;
    padding: 1em;
    margin: 0 0 5em;      
}

.navbar-right {
    @media (max-width: 988px) { display: none; }
}
.sidenav { display: none; }

@media (max-width: 988px) {
    .sidenav {
        display: flex; 
        flex-direction: column;
        align-items: center;
        background-color: $sec-black;
        .divider { 
            width: 11em; 
            margin: .5em 0 2.5em !important; 
        }
        li { line-height: 58px; }
        i { margin: 0 .5em 0 0 !important; }
    }
    
    .sidenav-logo {
        span { 
            font-size: 1.5em; 
        }
    }
}

.nav-item {
    position: relative;
    padding: .5em;
}

.badge {
    position: relative;
    background-color: $primary-blue !important;  
    top: 2em;
    @media (max-width: 988px) {
        top: .5em;
    }
}

.badge-demo {
    background-color: $primary-green !important;
}

// HOME SECTION
.emaily-intro { margin: 0 0 10em; }
.card-process {
    span, p {
        color: whitesmoke;
    }
}
hr { 
    margin: 2.5em auto; 
    width: 25%; 
}

// SURVEY LIST SECTION
.card {
    background-color: $sec-black;
    border-radius: 1em !important;
    border-left-width: .5em !important;
    border-left-style: solid !important;
    border-left-color: $primary-blue;
        a { 
            color: #f25f4c !important; 
            margin: 0 1em;
        }
}

.card-action {
    display: flex;
    flex-direction: row;
    border-left-width: 1px !important;
    border-left-style: solid !important;
    border-left-color: $primary-blue !important;
}

.yes-no-res {
    flex: 1;
}

.date-text {
    color: #94a1b2;
    flex: .2;
}

// SURVEY COMPOSITION SECTION
.survey-header { margin: 0 0 1em; }
.btn-flat { margin: 2em 0; }

// GLOBAL BUTTONS
.btn {
    background-color: #72757e; 
}

.btn-large { background-color: $primary-blue; }
.logout-btn {
    @media (max-width: 988px) {
        height: 2.35em !important;
        line-height: 33px !important;
    }
}
.btn-large:hover { background-color: $primary-green; }

.logout-btn:hover, .login-btn:hover, .btn:hover {
    background-color: $primary-blue !important;
}